* {
	box-sizing: border-box;
	outline: none;
}

/* 定义自定义字体 'SmileySans'，并提供备用字体序列 */
@font-face {
    font-family: 'SmileySans';
    src: url('/font/SmileySans-Oblique.otf') format('opentype'),
         url('/font/SmileySans-Oblique') format('woff2'),
         url('/font/SmileySans-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

/* 使用字体的示例 */
.someClass {
    font-family: 'SmileySans', 'Arial', 'Helvetica', 'Verdana', sans-serif;
}

a {
	color: inherit;
}

body {
	background-color: rgb(30, 30, 30);
	color: white;
	cursor: default;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
}

header {
	position: fixed;
	width: 100%;
	background-color: rgba(100, 87, 87, 0.301);
	padding: 20px 30px;
	user-select: none;
	font-family: 'SmileySans',sans-serif;
	display: flex;
	flex-wrap: nowrap;
	z-index: 100;
	top: 0;
	font-size: 150%;
}

header .esc {
	position: absolute;
	top: 20px; /* 根据需要调整 */
	right: 20px; /* 靠右对齐 */
}

main {
	display: block;
	margin: 15px;
}

.bg-img {
	background-attachment: fixed;
	background-image: url(https://bing.shangzhenyang.com/api/1080p);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	height: 100%;
	left: 0;
	opacity: .5;
	position: fixed;
	top: 0;
	transform: scale(1.1);
	width: 100%;
	z-index: -1;
}

.see_you_again{
	height: calc(60vh - 0px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes jump {
	0%, 100% {transform: translateY(0);}
	50% {transform: translateY(-25px);}
  }

.xx{
	animation: jump 1s ease-in-out infinite;
	font-family: 'SmileySans',sans-serif;
	position: absolute; /* 文字绝对定位 */
	bottom: 15px; /* 文字定位到div底部 */
}

.v1{
	margin: 2.96592653575cm auto;
	font-family: 'SmileySans',sans-serif;
}

.v2{
	margin: 75px auto;
}

a:link{
    color: #66CCFF;
}

a:visited{
    color: #66CCFF;
}

a:hover{
    color: #66CCFF;
}

.footer{
    background-color: #16171b;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size:50%;
    padding: 10px;
    text-align: center;
    /* 页脚样式 */
    width: 100%;
    padding: 20px 0;
	font-size: 15px;
}

.mpng {
    width: 260px;
    height: 260px;
}

/* 对于手机设备，假设最大宽度为480px */
@media (max-width: 480px) {
	.xx{
		font-size: 40px;
	}
	header {
		padding: 18px 16px;
		font-size: 130%;
	}
	h1 {
		margin: 10px 0;
		font-size: 18px;
	}
	.main-content {
		padding: 5px;
	}
	.footer{
		font-size: 18px;
	}
}

/* 平板设备，这里以768px作为分界点 */
@media (min-width: 481px) and (max-width: 1024px) {
	.xx{
		font-size: 100px;
	}
	header {
		padding: 18px 18.618px;
		font-size: 150%;
	}
	h1 {
		margin: 12px 0;
		font-size: 24px;
	}
	.main-content {
		padding: 10px;
	}
	.footer{
		font-size: 22px;
	}
}

/* 电脑显示器，例如宽度超过1200px */
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
		margin: 0 auto;
	}
	.xx{
		font-size: 50px;
	}
	header {
		padding: 25px 25px;
	}
	h1 {
		font-size: 32px;
	}
	.footer{
		font-size: 20px;
	}
}

/* 高分辨率显示器，例如宽度超过2400px */
@media (min-width: 2400px) {
	.container {
		max-width: 1540px;
		margin: 0 auto;
	}
	.xx{
		font-size: 100px;
	}
	header {
		padding: 45px 75px;
	}
	h1 {
		font-size: 58px;
	}
	.footer{
		font-size: 45px;
	}
}